body {
background-color:#FC7300 ;
width: 100%;
/* display: flex; */
}

.menu {
  background-color: #00425A;
  display: block;
}

.menu a {
  text-decoration: none;
}

.menu ul li {
  display: inline-block;
  list-style: none;
  padding: 20px 45px;
}

main {
  background-color: #1F8A70;
}

footer {
  color: #181823;
  background-color: #EFF5F5;
}
